/* fonts */

/* dm-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 400;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 500;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 600;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 600;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 700;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 800;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-800italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 800;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 900;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-900italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 900;
	src: 
	local("DM Sans"),
	url('/static/fonts/dm-sans-v14-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	--mst-bg: #1a1a1a;
	--mst-btn-bg: /* TODO: throw a bg color there */;
	--mst-warn-bg: #482500;
	--mst-warn-btn-bg-hover: #552c00;
	--mst-warn-btn-bg-active: #603200;
	--mst-container-bg: #252525;
	--mst-color: #fff;
	--mst-a-color: #e4e4e4;
	--mst-a-decor-color: #e4e4e430;
	--mst-header-hover-link-bg: #333;
	--mst-header-active-link-bg: #393939;
}
:root.light {
	--mst-bg: #eaeaea;
	--mst-btn-bg: /* TODO: throw a bg color there */;
	--mst-warn-bg: #ffd9b3;
	--mst-warn-btn-bg-hover: #ffcd9b;
	--mst-warn-btn-bg-active: #f2be8a;
	--mst-container-bg: #f2f2f2;
	--mst-color: #222;
	--mst-a-color: #000;
	--mst-a-decor-color: #00000030;
	--mst-header-hover-link-bg: #ddd;
	--mst-header-active-link-bg: #d2d2d2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
	background: var(--mst-bg);
	color: var(--mst-color);
}
button, .button {
	border: none;
	background: var(--mst-btn-bg);
	cursor: pointer;
	font-size: 16px;
	color: var(--mst-a-color);
}
.button {
	text-decoration: none;
}
.warn-btn:hover {
	background: var(--mst-warn-btn-bg-hover) !important;
}
.warn-btn:active {
	background: var(--mst-warn-btn-bg-active) !important;
}
button:hover, .button:hover {
	background: var(--mst-header-hover-link-bg);
}
button:active, .button:active {
	background: var(--mst-header-active-link-bg);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "DM Sans", sans-serif;
}
a, a:visited {
	color: var(--mst-a-color);
	text-decoration: underline;
	text-decoration-color: var(--mst-a-decor-color);
	text-underline-offset: 3px;
}
a, a:hover, .h-cont a, .h-cont a:hover, button:hover, button,
.button, .button:hover {
	transition: .2s;
}
a:hover {
	text-decoration-color: var(--mst-a-color);
}
offtop {
	opacity: 0.5;
}
#warning {
	display: none;
	background: var(--mst-warn-bg);
}
.h-cont {
	align-items: center;
	width: fit-content;
}
.h-cont a {
	font-size: 24px;
	margin-left: 5px;
	visibility: hidden;
	transition: visibility 0s linear 0.3s;
}
.h-cont:hover a {
	visibility: visible;
	transition-delay: 0s;
}
.lg-container, .header, footer {
	width: 70%;
	background: var(--mst-container-bg);
	align-items: center;
}
.lg-container, .header, .h-cont,
.icon-links li, .asset, .asset-desc, .asset-preview,
.header.main-content {
	display: flex;
}
.lg-container, .header a, .header, footer,
.header img, .asset img, button, .button {
	border-radius: 3px;
}
.lg-container, footer {
	padding: 20px;
}
.content {
	width: 100%;
}
.header {
	padding: 10px;
	position: sticky;
	top: 0px;
	box-shadow: 0px 5px 20px 1px var(--mst-bg);
	z-index: 1;
	justify-content: space-between;
}
.header img {
	margin-right: 5px;
}
.header a, button, .button {
	padding: 7px;
}
.header a {
	text-decoration: none;
}
.header a, .header a:hover, .header a:active {
	transition: .1s;
}
.header a[data-logo] {
	padding: 0;
	margin: 0;
	display: flex;
}
.header a[data-logo]:hover, .header a[data-logo]:active {
	background: transparent;
}
body#home a#home-link,
body#feedback a#feedback-link,
body#assets a#assets-link, .header a:hover {
	background: var(--mst-header-hover-link-bg);
}
.header a:active {
	background: var(--mst-header-active-link-bg);
}
.no-decor {
	text-decoration: none !important;
}
.tcenter {
	text-align: center;
}
footer a, footer a:hover {
	text-decoration: none;
}
footer a {
	font-weight: bold;
}
footer a:hover {
	opacity: 0.8;
}
label {
	user-select: none;
}
input[type="checkbox"] {
	width: 16px;
	height: 16px;
}
.icon-links li, .asset-preview, .header.main-content {
	align-items: center;
}
:root.light .light-invert {
	filter: invert();
}
:root.light img[src="/static/images/mystiehum_full.svg"] {
	background: #777;
}
:root.light .dark-only {
	display: none;
}
:root .light-only {
	display: none;
}
:root.light .light-only {
	display: inline-block;
}
.icon-links li img {
	margin-right: 3px;
}
.centered {
	margin: auto;
}
.none, .mobile {
	display: none;
}
.asset-desc, .asset-preview {
	flex-direction: column;
}
.asset-desc * {
	max-width: fit-content;
}
.asset-desc p span {
	user-select: none;
}
.asset {
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;
}
.radius-0 {
	border-radius: 0 !important;
}

/* mobile styling */

@media screen and (max-width: 800px) {
	.lg-container, .header, footer {
		width: 95% !important;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.asset, #warning {
		flex-direction: column;
	}
	#warning > div:nth-child(2) {
		margin-top: 10px;
	}
	.asset-preview, .asset {
		align-items: normal;
	}
	.asset-preview {
		max-width: fit-content;
	}
	.h-cont a, .h-cont:hover a {
		visibility: visible;
		transition: .2s;
		text-decoration-thickness: 1px;
	}
}